# C++ Excludes
*.zip
*.com
*.class
*.exe
*.o
*.so
*.obj
*.a
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
latex

## Standard Embarcadero stuff to ignore ##
__history
Win32
Win64
Output